[color]
  ui = auto
[user]
  name = k5-mot
  email = kmoto@pca.cis.nagasaki-u.ac.jp
[alias]
  graph1 = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Cblue%cn %Cred%d %Creset%s'
  cln = clone --verbose --progress
  graph = log --oneline --decorate --graph --branches --tags --remotes --pretty=format:'%C(green)%h %C(blue)[%cd] %C(red)%d %C(reset)%s %C(cyan)<%an>%C(reset)' --date=format:'%Y/%m/%d %H:%M:%S'
