[include]
  # user
  path=.gitconfig.user
[color]
  ui = auto
[alias]
  graph = log --oneline --decorate --graph --branches --tags --remotes --pretty=format:'%C(green)%h %C(blue)[%cd] %C(red)%d %C(reset)%s %C(cyan)<%an>%C(reset)' --date=format:'%Y/%m/%d %H:%M:%S'
  cl = clone --verbose --progress
  st = status -b
  
