{{ if eq .chezmoi.os "windows" -}}

# Set error action preference
$ErrorActionPreference = "Stop"

$ScriptDir = Join-Path $env:USERPROFILE ".local\script"
Write-Host "Script directory: $ScriptDir"

# Check if script directory exists
if (-not (Test-Path -Path $ScriptDir -PathType Container)) {
    Write-Warning "Script directory does not exist: $ScriptDir"
    exit 0
}

# Execute PowerShell scripts in numerical order
Get-ChildItem -Path $ScriptDir -Filter "*.ps1" | Sort-Object Name | ForEach-Object {
    Write-Host "[PowerShell] $_" -ForegroundColor Green
    if (Test-Path -Path $_.FullName -PathType Leaf) {
        try {
            & pwsh.exe -NoLogo -File $_.FullName
        }
        catch {
            Write-Error "Failed to execute script: $_"
            throw
        }
    }
}

{{ end -}}
